#tela-inicial{
    background-image: url('/assets/welcome.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

#bem-vindo{
    text-align: center;   
}

.botao-inicial{
    position: absolute;
    background-color: transparent;
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 24px;
    cursor: pointer;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}