<div id="login-container">
    <div id="container1">
        <button 
        (click)="voltar()"
        id="voltar">Voltar</button>
        <div id="container2">
            <h2>Esqueceu a senha</h2>
            <h3 id="subtitulo">Insira seu email para recuperar a senha</h3>
            <div id="container3">
                <input type="text" placeholder="Email" id="input-usuario">
                <button id="botao-esqueceu-senha">Enviar</button>
            </div>
        </div>
    </div>
</div>
