<div id="login-container">

<img src="https://i.pinimg.com/originals/26/d0/df/26d0df9075d59fdc7a3a1da2a99ab358.gif" class="bg-gif" alt="" aria-hidden="true">
     
    <video autoplay muted loop class="bg-video">
        <source src="assets/backgrounds/welcome.webm" type="video/webm">
        <source src="assets/backgrounds/welcome.mp4" type="video/mp4">
    </video>

    <div id="container1">
        <button 
        (click)="voltar()"
        id="voltar">Voltar</button>
        <div id="container2">
            <h2>Esqueceu a senha</h2>
            <h3 id="subtitulo">Insira seu email para recuperar a senha</h3>
            <div id="container3">
                <input type="text" placeholder="Email" id="input-usuario">
                <button id="botao-esqueceu-senha">Enviar</button>
            </div>
        </div>
    </div>
</div>
